<a href="https://colab.research.google.com/github/Danxi3/Guzman_Daniella_BSIS2/blob/main/STUDENT_INFO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Danxi3/Guzman_Daniella_BSIS2/refs/heads/main/students_dataset.csv')

In [ ]:
print("Original row count", len(df))

Original row count 50

In [ ]:
df.info

<bound method DataFrame.info of    FirstName LastName   Age     Course  Grade
0       Emma    Smith  18.0        NaN  75.07
1       John      NaN  25.0      Music  81.47
2      Maria   Garcia  24.0        Art  66.35
3      Chris   Taylor  24.0  Chemistry  72.77
4        NaN   Garcia  25.0       Math  88.05
5      Chris   Garcia  20.0        NaN  69.26
6    Michael    Smith  21.0        NaN  96.31
7      Chris    White  18.0  Chemistry  64.55
8      Sarah    White  20.0         PE  93.74
9      Maria    Lewis  24.0  Chemistry  76.84
10      John    Smith  22.0    English    NaN
11       NaN   Martin  23.0    History  84.03
12     Maria    Lewis  21.0    Physics  60.29
13      Emma    Smith  20.0         PE  86.84
14      John      NaN  18.0         PE  70.54
15     David  Johnson  23.0        Art  61.09
16      John   Garcia  20.0         PE  81.66
17      Alex    Clark   NaN        NaN  80.73
18     Maria   Garcia  25.0    Physics  91.91
19       NaN    Lewis  20.0    English  83.30
20      Emma      Lee  19.0        NaN  69.34
21      Emma    Brown  18.0    Biology  85.98
22     Sarah    Smith  19.0  Chemistry  96.67
23   Michael    Smith  19.0        Art  63.36
24      Emma      NaN  22.0        NaN  62.80
25      Alex    Smith  20.0    Physics  69.23
26       NaN   Martin   NaN       Math  67.02
27     Maria   Taylor  20.0       Math  87.14
28     David    White  19.0    Biology  96.42
29      John    Brown  24.0         PE  60.79
30     Chris    Brown  24.0    Physics  78.08
31     Chris    Clark  20.0    History  80.41
32      John    Brown  21.0  Chemistry  66.69
33    Daniel    Brown  25.0    Science  63.49
34       NaN  Johnson  23.0  Chemistry    NaN
35   Michael    White  19.0    Science  71.22
36     Chris      NaN  18.0    History  88.95
37       NaN    Clark  19.0    Physics  80.63
38     David  Johnson  20.0  Chemistry  78.96
39     Sarah   Martin  25.0    Science  85.55
40       NaN      Lee  19.0       Math  96.18
41     Chris   Martin  24.0         PE  68.21
42      Jane      NaN  20.0         PE  93.99
43     Chris    Lewis  25.0       Math  94.89
44      Emma  Johnson  20.0  Chemistry  68.97
45      John    Lewis  19.0  Chemistry    NaN
46      Emma    Clark  20.0      Music  60.19
47   Michael   Martin  21.0      Music  85.31
48     Maria   Garcia  18.0      Music  61.90
49     Maria      Lee  25.0    Science  93.74>

In [ ]:
print(df)

   FirstName LastName   Age     Course  Grade
0       Emma    Smith  18.0        NaN  75.07
1       John      NaN  25.0      Music  81.47
2      Maria   Garcia  24.0        Art  66.35
3      Chris   Taylor  24.0  Chemistry  72.77
4        NaN   Garcia  25.0       Math  88.05
5      Chris   Garcia  20.0        NaN  69.26
6    Michael    Smith  21.0        NaN  96.31
7      Chris    White  18.0  Chemistry  64.55
8      Sarah    White  20.0         PE  93.74
9      Maria    Lewis  24.0  Chemistry  76.84
10      John    Smith  22.0    English    NaN
11       NaN   Martin  23.0    History  84.03
12     Maria    Lewis  21.0    Physics  60.29
13      Emma    Smith  20.0         PE  86.84
14      John      NaN  18.0         PE  70.54
15     David  Johnson  23.0        Art  61.09
16      John   Garcia  20.0         PE  81.66
17      Alex    Clark   NaN        NaN  80.73
18     Maria   Garcia  25.0    Physics  91.91
19       NaN    Lewis  20.0    English  83.30
20      Emma      Lee  19.0        NaN  69.34
21      Emma    Brown  18.0    Biology  85.98
22     Sarah    Smith  19.0  Chemistry  96.67
23   Michael    Smith  19.0        Art  63.36
24      Emma      NaN  22.0        NaN  62.80
25      Alex    Smith  20.0    Physics  69.23
26       NaN   Martin   NaN       Math  67.02
27     Maria   Taylor  20.0       Math  87.14
28     David    White  19.0    Biology  96.42
29      John    Brown  24.0         PE  60.79
30     Chris    Brown  24.0    Physics  78.08
31     Chris    Clark  20.0    History  80.41
32      John    Brown  21.0  Chemistry  66.69
33    Daniel    Brown  25.0    Science  63.49
34       NaN  Johnson  23.0  Chemistry    NaN
35   Michael    White  19.0    Science  71.22
36     Chris      NaN  18.0    History  88.95
37       NaN    Clark  19.0    Physics  80.63
38     David  Johnson  20.0  Chemistry  78.96
39     Sarah   Martin  25.0    Science  85.55
40       NaN      Lee  19.0       Math  96.18
41     Chris   Martin  24.0         PE  68.21
42      Jane      NaN  20.0         PE  93.99
43     Chris    Lewis  25.0       Math  94.89
44      Emma  Johnson  20.0  Chemistry  68.97
45      John    Lewis  19.0  Chemistry    NaN
46      Emma    Clark  20.0      Music  60.19
47   Michael   Martin  21.0      Music  85.31
48     Maria   Garcia  18.0      Music  61.90
49     Maria      Lee  25.0    Science  93.74

In [ ]:
df["FirstName"] = df["FirstName"].fillna("Unknown")

In [ ]:
df["LastName"] = df["LastName"].fillna("Unknown")

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].mean())

In [ ]:
df["Course"] = df["Course"].fillna("Undefined Course")

In [ ]:
df["Grade"] = df["Grade"].fillna(df["Grade"].mean())

In [ ]:
pd.set_option("display.max_rows", None)
print(df)

   FirstName LastName        Age            Course      Grade
0       Emma    Smith  18.000000  Undefined Course  75.070000
1       John  Unknown  25.000000             Music  81.470000
2      Maria   Garcia  24.000000               Art  66.350000
3      Chris   Taylor  24.000000         Chemistry  72.770000
4    Unknown   Garcia  25.000000              Math  88.050000
5      Chris   Garcia  20.000000  Undefined Course  69.260000
6    Michael    Smith  21.000000  Undefined Course  96.310000
7      Chris    White  18.000000         Chemistry  64.550000
8      Sarah    White  20.000000                PE  93.740000
9      Maria    Lewis  24.000000         Chemistry  76.840000
10      John    Smith  22.000000           English  77.891702
11   Unknown   Martin  23.000000           History  84.030000
12     Maria    Lewis  21.000000           Physics  60.290000
13      Emma    Smith  20.000000                PE  86.840000
14      John  Unknown  18.000000                PE  70.540000
15     David  Johnson  23.000000               Art  61.090000
16      John   Garcia  20.000000                PE  81.660000
17      Alex    Clark  21.166667  Undefined Course  80.730000
18     Maria   Garcia  25.000000           Physics  91.910000
19   Unknown    Lewis  20.000000           English  83.300000
20      Emma      Lee  19.000000  Undefined Course  69.340000
21      Emma    Brown  18.000000           Biology  85.980000
22     Sarah    Smith  19.000000         Chemistry  96.670000
23   Michael    Smith  19.000000               Art  63.360000
24      Emma  Unknown  22.000000  Undefined Course  62.800000
25      Alex    Smith  20.000000           Physics  69.230000
26   Unknown   Martin  21.166667              Math  67.020000
27     Maria   Taylor  20.000000              Math  87.140000
28     David    White  19.000000           Biology  96.420000
29      John    Brown  24.000000                PE  60.790000
30     Chris    Brown  24.000000           Physics  78.080000
31     Chris    Clark  20.000000           History  80.410000
32      John    Brown  21.000000         Chemistry  66.690000
33    Daniel    Brown  25.000000           Science  63.490000
34   Unknown  Johnson  23.000000         Chemistry  77.891702
35   Michael    White  19.000000           Science  71.220000
36     Chris  Unknown  18.000000           History  88.950000
37   Unknown    Clark  19.000000           Physics  80.630000
38     David  Johnson  20.000000         Chemistry  78.960000
39     Sarah   Martin  25.000000           Science  85.550000
40   Unknown      Lee  19.000000              Math  96.180000
41     Chris   Martin  24.000000                PE  68.210000
42      Jane  Unknown  20.000000                PE  93.990000
43     Chris    Lewis  25.000000              Math  94.890000
44      Emma  Johnson  20.000000         Chemistry  68.970000
45      John    Lewis  19.000000         Chemistry  77.891702
46      Emma    Clark  20.000000             Music  60.190000
47   Michael   Martin  21.000000             Music  85.310000
48     Maria   Garcia  18.000000             Music  61.900000
49     Maria      Lee  25.000000           Science  93.740000

In [ ]:
print("Before removing duplicates:")

Before removing duplicates:

In [ ]:
df = df.drop_duplicates()

In [ ]:
print("\nAfter removing duplicates:")
print(df)

After removing duplicates:
   FirstName LastName        Age            Course      Grade
0       Emma    Smith  18.000000  Undefined Course  75.070000
1       John  Unknown  25.000000             Music  81.470000
2      Maria   Garcia  24.000000               Art  66.350000
3      Chris   Taylor  24.000000         Chemistry  72.770000
4    Unknown   Garcia  25.000000              Math  88.050000
5      Chris   Garcia  20.000000  Undefined Course  69.260000
6    Michael    Smith  21.000000  Undefined Course  96.310000
7      Chris    White  18.000000         Chemistry  64.550000
8      Sarah    White  20.000000                PE  93.740000
9      Maria    Lewis  24.000000         Chemistry  76.840000
10      John    Smith  22.000000           English  77.891702
11   Unknown   Martin  23.000000           History  84.030000
12     Maria    Lewis  21.000000           Physics  60.290000
13      Emma    Smith  20.000000                PE  86.840000
14      John  Unknown  18.000000                PE  70.540000
15     David  Johnson  23.000000               Art  61.090000
16      John   Garcia  20.000000                PE  81.660000
17      Alex    Clark  21.166667  Undefined Course  80.730000
18     Maria   Garcia  25.000000           Physics  91.910000
19   Unknown    Lewis  20.000000           English  83.300000
20      Emma      Lee  19.000000  Undefined Course  69.340000
21      Emma    Brown  18.000000           Biology  85.980000
22     Sarah    Smith  19.000000         Chemistry  96.670000
23   Michael    Smith  19.000000               Art  63.360000
24      Emma  Unknown  22.000000  Undefined Course  62.800000
25      Alex    Smith  20.000000           Physics  69.230000
26   Unknown   Martin  21.166667              Math  67.020000
27     Maria   Taylor  20.000000              Math  87.140000
28     David    White  19.000000           Biology  96.420000
29      John    Brown  24.000000                PE  60.790000
30     Chris    Brown  24.000000           Physics  78.080000
31     Chris    Clark  20.000000           History  80.410000
32      John    Brown  21.000000         Chemistry  66.690000
33    Daniel    Brown  25.000000           Science  63.490000
34   Unknown  Johnson  23.000000         Chemistry  77.891702
35   Michael    White  19.000000           Science  71.220000
36     Chris  Unknown  18.000000           History  88.950000
37   Unknown    Clark  19.000000           Physics  80.630000
38     David  Johnson  20.000000         Chemistry  78.960000
39     Sarah   Martin  25.000000           Science  85.550000
40   Unknown      Lee  19.000000              Math  96.180000
41     Chris   Martin  24.000000                PE  68.210000
42      Jane  Unknown  20.000000                PE  93.990000
43     Chris    Lewis  25.000000              Math  94.890000
44      Emma  Johnson  20.000000         Chemistry  68.970000
45      John    Lewis  19.000000         Chemistry  77.891702
46      Emma    Clark  20.000000             Music  60.190000
47   Michael   Martin  21.000000             Music  85.310000
48     Maria   Garcia  18.000000             Music  61.900000
49     Maria      Lee  25.000000           Science  93.740000

In [ ]:
df = df[df['FirstName'] != 'Unknown']

In [ ]:
df = df[df['LastName'] != 'Unknown']

In [ ]:
df = df.dropna(subset=['Course', 'Age', 'Grade'])

In [ ]:
print("\nAfter cleaning:")
print(df)

After cleaning:
   FirstName LastName        Age            Course      Grade
0       Emma    Smith  18.000000  Undefined Course  75.070000
2      Maria   Garcia  24.000000               Art  66.350000
3      Chris   Taylor  24.000000         Chemistry  72.770000
5      Chris   Garcia  20.000000  Undefined Course  69.260000
6    Michael    Smith  21.000000  Undefined Course  96.310000
7      Chris    White  18.000000         Chemistry  64.550000
8      Sarah    White  20.000000                PE  93.740000
9      Maria    Lewis  24.000000         Chemistry  76.840000
10      John    Smith  22.000000           English  77.891702
12     Maria    Lewis  21.000000           Physics  60.290000
13      Emma    Smith  20.000000                PE  86.840000
15     David  Johnson  23.000000               Art  61.090000
16      John   Garcia  20.000000                PE  81.660000
17      Alex    Clark  21.166667  Undefined Course  80.730000
18     Maria   Garcia  25.000000           Physics  91.910000
20      Emma      Lee  19.000000  Undefined Course  69.340000
21      Emma    Brown  18.000000           Biology  85.980000
22     Sarah    Smith  19.000000         Chemistry  96.670000
23   Michael    Smith  19.000000               Art  63.360000
25      Alex    Smith  20.000000           Physics  69.230000
27     Maria   Taylor  20.000000              Math  87.140000
28     David    White  19.000000           Biology  96.420000
29      John    Brown  24.000000                PE  60.790000
30     Chris    Brown  24.000000           Physics  78.080000
31     Chris    Clark  20.000000           History  80.410000
32      John    Brown  21.000000         Chemistry  66.690000
33    Daniel    Brown  25.000000           Science  63.490000
35   Michael    White  19.000000           Science  71.220000
38     David  Johnson  20.000000         Chemistry  78.960000
39     Sarah   Martin  25.000000           Science  85.550000
41     Chris   Martin  24.000000                PE  68.210000
43     Chris    Lewis  25.000000              Math  94.890000
44      Emma  Johnson  20.000000         Chemistry  68.970000
45      John    Lewis  19.000000         Chemistry  77.891702
46      Emma    Clark  20.000000             Music  60.190000
47   Michael   Martin  21.000000             Music  85.310000
48     Maria   Garcia  18.000000             Music  61.900000
49     Maria      Lee  25.000000           Science  93.740000